.logo {
    width: 50px;
    height: 50px;
}

.anton {
    font-family: anton, sans-serif;
}

.abel {
    font-family: abel, sans-serif;
}

h1 {
    font-family: anton, sans-serif;
    font-weight: bold;
    font-size: 3em;
}

h2 {
    font-family: anton, sans-serif;
    font-weight: bold;
    font-size: 2em;
}

h3 {
    font-family: anton, sans-serif;
    font-weight: bold;
    font-size: 1.5em;
}

.resize > img {
    width: 50%;
}

.large-dot {
    height: 105px;
    width: 105px;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    display: inline-block;
    border: 8px solid white;
    margin: 25px;
}

.sm-dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: black;
    font-weight: bold;
    display: inline-block;
    margin: 20px;
    line-height: 28px;
}

.coral {
    background: #E6563B;
}

.yellow {
    background: #EB9D3A;
}

.green {
    background: #7CB06C;
}

.blue {
    background: #00ABA9;
}